.logbase {
  height: 100%;
}
.leftbg {
  height: 70vh;
  position: relative;
}
.rightbg {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-input-outlined:hover {
  border-color: rgba(0, 0, 0, 0.4);
}
.loginBtn {
  background: rgba(0, 0, 0);
  border: solid 1px black;
  opacity: 0.8;
}
.loginBtn:hover {
  background: #ffff;
  color: #000;
}
.logInPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 60%;
}
.welcome {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 5rem;
  text-align: center;
}
.logOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.userInput {
  width: 100%;
}
.userIconex {
  position: relative;
}
.userIcon {
  position: absolute;
  left: 10px;
  top: 2px;
  transform: translateX(-0%) translateY(-0%);
  width: 20px;
  opacity: 50%;
}
.userIconie {
  position: relative;
}
.password {
  position: absolute;
  left: 10px;
  top: 2px;
  transform: translateX(-0%) translateY(-0%);
  width: 20px;
  opacity: 50%;
}
.userdetails {
  border: solid 1px rgba(0, 128, 0, 0.582);
  border-radius: 1rem;
  margin: auto;
}
