.carousel-item img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.carouselText {
  color: #ffc894;
  font-size: clamp(3rem, 2rem + 4vw, 5rem);
  font-weight: 800;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}
.carouselPosition {
  position: relative;
}
.carousel-indicators {
  visibility: hidden;
}
.carouselBtn {
  background: rgba(0, 0, 0, 0.8);
  color: #ffc894;
  border: solid 1px #ffffffad !important;
  font-size: clamp(1.5rem, 1.2857rem + 0.9524vw, 2rem);
  font-weight: 700;
  border: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: 0.3s;
}
.carouselBtn:hover {
  box-shadow: 0px 5px 5px 1px #ffc894;
  color: #ffff;
}
.containerModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.textRed {
  color: #fd1c1ce3;
}
