.carousel-item img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.carouselText {
  position: absolute;
  text-align: center;
  color: #ffff;
  font-size: 3rem;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}
.carouselPosition {
  position: relative;
}
.carousel-indicators {
  visibility: hidden;
}
