.card10 {
  height: 100% !important;
  border: 0;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}
.ImgSize {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ImgSize::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.test:hover .ImgSize::before {
  opacity: 1;
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  position: relative;
}
.test:hover .card-img {
  transform: scale(1.05, 1.05);
}
.test2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  opacity: 0;
  border: 0;
  z-index: 3;
  transition: 0.5s;
}
.test2 span {
  font-size: 1.5rem;
}
.test:hover .test2 {
  opacity: 1;
}
.test2:hover {
  background: #000 !important;
  color: #fff !important;
  border: 0;
}
.hTitle1 {
  font-size: clamp(1.5rem, 0.8571rem + 2.8571vw, 3rem);
  font-weight: 700;
}
.hTitle2 {
  font-size: clamp(1.2rem, 0.9857rem + 0.9524vw, 1.7rem);
  position: relative;
}

.hTitle3 {
  font-size: 1.7rem;
  font-weight: 700;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
}
.hTitle4 {
  font-size: 1.2rem;
}
.lineBtn {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
@media (max-width: 575px) {
  .ImgSize {
    height: 300px;
  }
}
@media (min-width: 576px) {
  .ImgSize {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .ImgSize {
    height: 400px;
  }
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
