* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
.freeShip {
  font-size: 1.2rem;
  font-weight: 700;
}
.productSubT {
  font-size: 1rem;
  font-weight: 600;
}
.addminusBtn {
  font-size: 1.1rem;
}
.total {
  font-size: 1.5rem;
  font-weight: 600;
}
.test1 {
  height: 100px;
  text-align: center;
  margin-top: 20%;
}
.sideBarBg {
  background: rgba(233, 232, 232);
  width: fit-content;
}
.sideBarUnderLine {
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}
.storeBtnOut {
  background: rgba(0, 0, 0);
  border: 0;
  transition: 0.5s;
}
.storeBtnOut:hover {
  background: transparent;
  color: rgba(0, 0, 0);
  border: solid 1px rgba(0, 0, 0);
}
.totalTopLine {
  border-top: solid 1px rgba(0, 0, 0, 0.5);
}
